name: "Lint"

on:
  pull_request:
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: actionlint repo itself
        uses: raven-actions/actionlint@v2
      - name: actionlint examples
        uses: raven-actions/actionlint@v2
        with:
          files: "examples/*.yml, examples/*.yaml"

      - name: Install yamllint
        run: pip install yamllint

      - name: Lint Actions
        run: yamllint -c ./.yamllint ./*-*
